{% extends "base.html" %}

{% block title %}DjBlog | {{ article.title }}{% endblock %}

{% block content %}
    <script>
        $(document).ready(function() {
           $('#comment_form').submit(function(){
               $.ajax({
                   data: $(this).serialize(),
                   type: $(this).attr('method'),
                   url: $(this).attr('action'),
                   success: function(response){ 
                            $('#comments').append(response);
                       }    
               });
               return false; 
           });
        });        
    </script>
    <h3>{{ article.title }}</h3> by {{ article.author }}
    <br />
    Created: {{ article.created }}
    <br/>
    Body: {{ article.body|linebreaks }}

    {% if user == article.author %}
    <a href="{% url edit_article article.id %}">Edit</a> | <a href="{% url delete_article article.id %}">Remove</a>
    {% endif %}
    <br />

    <!-- Comments -->
    {% block comments %}
        <h4>{{ comment_count }} Comments</h4>
        <div id="comments"></div>
        {% for comment in comments %}
            Comment: {{ comment.body }}
            By: {{ comment.author }}
            <br />
        {% endfor %}
        <br />
        <h4>Add A Comment</h4>
        <div id="form_container">
            <form action="/articles/{{ article.slug }}/submit_comment" method="post" id="comment_form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save">
            </form>
        </div>
    {% endblock %}

{% endblock %}
<!-- Comments  -->